
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.borard-container{
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

.table td {
  text-align: center;
  cursor: pointer;
}

.filled{
  background: #eee;
  pointer-events: none;
}
.m-l-md{
  margin-left: 15px;
}
.m-t-md{
  margin-top: 15px;
}

.poinnter{
  cursor: pointer;
}

.hirormiss{
  display: block;
    width: 40%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    /* margin-bottom: 20px; */
    margin: 20px auto;
    border-radius: 20px;
    text-transform: capitalize
}
.notshipped{
   background: red ;
  pointer-events: none;
}
.shipped{
  background: blue !important;
    pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
